.root {
    -fx-background-color: #f4f4f4;
    -fx-spacing: 10;
}

.error {
    -fx-border-color: #FF0000;
}

/*===== MENU_BAR STYLE =====*/
.menu-bar {
    -fx-background-color: #3F3E3A;
}

.menu:hover, .menu:showing {
    -fx-background-color: inherit;
}

.menu .label {
    -fx-font-weight: bold;
    -fx-text-fill: #F2F1F0;
}

.menu .label:hover {
    -fx-text-fill: #FFFFFF;
    -fx-underline: true;
}

.menu-item .label {
    -fx-text-fill: #000000;
}

.menu-item:focused {
    -fx-background-color: #A9A9A9;

}

/*-----MENU_BAR STYLE END -----*/

/*===== BUTTON STYLE =====*/
.button {
    -fx-background-color: linear-gradient(#5A5C64, #3D3D42);
    -fx-background-insets: 0;
    -fx-background-radius: 4px;
    -fx-effect: dropshadow(two-pass-box, #5A5C64, 2, 1, 0, 0);
    -fx-font-weight: bold;
    -fx-padding: 0.3em;
    -fx-text-fill: #d1d1d9;
}

.button:hover {
    -fx-background-color: linear-gradient(#4C4D52, #38393E);
    -fx-text-fill: #ffffff;
}

.button:pressed {
    -fx-background-color: linear-gradient(#41403C, #3D3D42);
    -fx-effect: dropshadow(three-pass-box, #f4f4f4, 2, 1, 0, 0);
}

.button:focused {
    -fx-text-fill: #ffffff;
}

.button:disabled {
    -fx-background-color: linear-gradient(#6E7078, #515156);
    -fx-text-fill: #8E8E96;
}

/*-----BUTTON STYLE END -----*/

#controlsPane {
    -fx-padding: 10;
    -fx-spacing: 10;
}

#inputDataPane {
    -fx-spacing: 10;
}

#inputDataPane .label {
    -fx-font-weight: bold;
}




